[Unit]
Description=statsite

[Service]
Type=simple
User=statsite
Group=statsite
ExecStart=/usr/bin/statsite -f /etc/statsite/statsite.ini
Restart=always
WorkingDirectory=/tmp/

[Install]
WantedBy=multi-user.target